<a href="https://colab.research.google.com/github/Koar-create/Yang-Repository-CS/blob/main/pre-course/%5BEXERCISE%5D_Pandas_functional_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[EXERCISE] Pandas functional programming.ipynb**

Author: Zhixian Yang

Email: yangzhx28@mail2.sysu.edu.cn

GitHub: https://github.com/koar-create

Date created: July 14th, 2023

Last modified: July 14th, 2023

<br><br>

---

<br><br>

## **Description**
This document is a Jupyter Notebook designed for an exercise derived from the "Computational Tools for Climate Science 2023" course offered by Climatematch Academy. The code presented here comprises a combination of materials provided in the course and code obtained from online sources.

Here's the problem:

Using the dataset in the attachment and functional programming techniques (you could about them here https://machinelearningmastery.com/functional-programming-in-python/), answer the following questions:

1. Find the mean purchase of women in the city A

2. Using only map-reduce approach find the total number of men completed purchase in city B.

---
# import dependencies and download data
---

In [1]:
import os, numpy as np, pandas as pd
import matplotlib.pyplot as plt

In [2]:
if not os.path.exists('BlackFriday.csv'):
  !wget https://cdn.discordapp.com/attachments/1128942240190959666/1128942240807526410/BlackFriday.csv

In [3]:
df = pd.read_csv('BlackFriday.csv')
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

---
# Q1
---

In [4]:
A = df.groupby(['Gender', 'City_Category']).mean()
A
print(f"The mean purchase of women in the city A is {A.loc['F'].loc['A'].Purchase:.2f}. ")

The mean purchase of women in the city A is 8630.77.

<ipython-input-4-afbeab530bda>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  A = df.groupby(['Gender', 'City_Category']).mean()

---
# Q2
---

In [5]:
B = df.groupby(['Gender', 'City_Category']).count()
B
print(f"The total number of men completed purchase in the city B is {B.loc['M'].loc['B'].Purchase}. ")

The total number of men completed purchase in the city B is 169999.